.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #03082e;
  font-weight: 500;
  font-size: 18px;
}

.botao {
    position: relative;
    overflow: hidden;
  }
  
  .botao::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:#FFF;
    transition: width 0.5s ease; /* Adiciona uma transição de largura de 0.5 segundos */
  }
  
  .botao:hover::before {
    width: 100%;
  }
  
  .botao.clicado::before {
    width: 100%;
    transition: none; /* Remova a transição para tornar a borda estática após o clique */
  }
  